html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

top-header-1 {
  margin-top: 35px;
}

header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px;
    text-align: center;
}
